<aside>
   <p class="menu-label">Consultation</p>
   <ul class="menu-list">
      <li><a href="/athletes">Athlètes</a></li>
      <li><a href="/epreuves">Epreuves</a></li>
      <li><a href="/nationalites">Nationalités</a></li>
      <li><a href="/medailles">Médailles</a></li>
      <li><a href="/participations">Participations</a></li>
   </ul>
   <p class="menu-label">Opération</p>
   <ul class="menu-list">
      <li><a href="/athletes/operations">Athlètes</a></li>
      <li><a href="/epreuves/operations">Epreuves</a></li>
      <li><a href="/nationalites/operations">Nationalités</a></li>
      <li><a href="/medailles/operations">Médailles</a></li>
      <li><a href="/participations/operations">Participations</a></li>
   </ul>
   <ul class="menu-list">
      <li><a href="/logout" class="button is-danger">Déconnexion</a></li>
   </ul>
</aside>