<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
</head>
<body>
{% include "athletics/header.html" %}
<section class="section">
   <div class="container">
      <div class="columns is-centered">
         <div class="column is-half">
            <form method="POST" action="" class="box">
               {% csrf_token %}
               <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                     <input id="username" type="text" name="username" placeholder="e.g. johnsmith" class="input"/>
                     <span class="icon is-small is-left">
                         <i class="fa fa-envelope"/>
                     </span>
                  </div>
               </div>
               <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                     <input id="password" type="password" name="password" placeholder="*******" class="input"/>
                     <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                     </span>
                  </div>
               </div>
               <div class="field has-text-right">
                  <button type="submit" class="button is-danger">Login</button>
                  <a href="/register" class="button is-info">Register</a>
               </div>
            </form>
            {% for message in messages %}
               <p id="messages">{{message}}</p>
            {% endfor %}
         </div>
      </div>
   </div>
</section>

</body>
</html>