<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
</head>
<body>
{% include "athletics/header.html" %}
<section class="section">
   <div class="container">
      <div class="columns is-centered">
         <div class="column is-half">
            <form action="" method="POST" class="box">
               {% csrf_token %}
               <div class="field">
                  <label class="label">{{form.username.label}}</label>
                  <div class="control">
                     {{form.username}}
                  </div>
               </div>
               <div class="field">
                  <label class="label">{{form.email.label}}</label>
                  <div class="control">
                     {{form.email}}
                  </div>
               </div>
               <div class="field">
                  <label class="label">{{form.password1.label}}</label>
                  <div class="control">
                     {{form.password1}}
                  </div>
               </div>
               <div class="field">
                  <label class="label">{{form.password2.label}}</label>
                  <div class="control">
                     {{form.password2}}
                  </div>
               </div>
               <div class="field has-text-right">
                  <button type="submit" class="button is-info">Register</button>
                  <a href="/login" class="button is-danger">Login</a>
               </div>
            </form>

            {{form.errors}}

         </div>
      </div>
   </div>
</section>

</body>
</html>